@import "variables";

.blog main {
    max-width: var(--responsive--alignwide-width);
    margin: 0 auto;

    display: grid;
    grid-gap: 1rem 1rem;

    grid-template-columns: minmax(1rem, 1fr); //Hack for small screen sizes
    @include breakpoint("s") {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    //Everything except nav
    > article {
        margin: 0;
        border-style: solid;
        border-width: 0.2em;
        border-color: $blue-logo-color $black-logo-color $black-logo-color
            $blue-logo-color;
        box-shadow: 3px 3px 10px
            rgba(darken($color: $blue-logo-color, $amount: 37%), 0.6);

        > .entry-content {
            margin: 1rem !important;
        }

        > footer {
            padding: 0 !important;
            margin: 1rem !important;
            border: none !important;
        }

        figure.post-thumbnail {
            margin: 0;
        }

        img.attachment-post-thumbnail {
            margin: 0;
            object-fit: cover;
            height: 10em !important;
            max-width: unset !important;
        }

        h2.entry-title {
            font-size: 1.5em;
            margin-bottom: 0 !important;
            background-color: $blue-logo-color;
            color: white;
            padding: 0.7rem 0.2em;
            @include breakpoint("s") {
                padding: 1.2rem 0.4em;
            }
        }

        // > * {
        // }
    }

    nav.pagination {
        grid-column: 1/-1;
    }
}
