@import "variables";

.wp-block-latest-posts.is-style-twentytwentyone-latest-posts-borders {
    li {
        border-style: solid;
        border-color: $blue-logo-color $black-logo-color $black-logo-color
            $blue-logo-color;

        padding: 0;

        box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.75);

        .wp-block-latest-posts__featured-image {
            margin-bottom: 0;
            a {
                width: 100%;

                img {
                    object-fit: cover;
                    max-width: unset !important;
                }
            }
        }
        > *:not(:first-child) {
            padding: 0 1rem;
        }

        > *:last-child {
            margin-bottom: .7em;
        }
    }
}
